.display{
    display: flex;
    justify-content: center;
    padding-top: 25px;
   
}
.display-input{
    height: 100px ;
    width: 370px;
    border-radius: 15px;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
    transition: box-shadow 0.2s ease;
}
.ac{
    width: 75px;
    height: 60px;
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color:black;
}
.row-ac{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}
.row-num{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}
.row-num-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-bottom: 20px;
    margin-top: 25px;
}
.ac-equal{
    width: 170px;
    height: 60px;
    color: white;
    font-weight: bold;
    padding: 10px;
    /* padding-bottom: 20px; */
    border-radius: 10px;
    background-color:green;
    font-size: 20px;
}
.ac-ac{
     width: 75px;
    height: 60px;
    color: white;
    font-weight: bold;
     font-size: 20px;
    padding: 10px;
    /* padding-bottom: 20px; */
    border-radius: 10px;
    background-color:green;
}
.ac-ac1{
     width: 75px;
    height: 60px;
    color: white;
    font-weight: bold;
     font-size: 17px;
    padding: 10px;
    /* padding-bottom: 20px; */
    border-radius: 10px;
    background-color:green;
}
.de-de{
     width: 75px;
    height: 60px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    /* padding-bottom: 20px; */
    border-radius: 10px;
    background-color:orangered;
}

